<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/语法测试/src/valueOf_Parse/ValueOF_Parse.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="valueOf_Parse.ValueOF_Parse"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="语法测试"/>
</launchConfiguration>
